<footer class="footer">
  <div class="outer">
    <ul class="list-inline">
      <li>友情链接: </li>
      <li><a href="https://blog.qlsmc.xyz/" target="_blank">什么也没有</a></li>
    </ul>
    <div class="float-right">
      <%- partial('post/busuanzi') %>
    </div>
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %>  ☁  Shaun Young</li>
      <li><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></li>
      <a href="http://www.beian.miit.gov.cn/"  target="_blank">苏ICP备20024736号</a>
    </ul>
  </div>
</footer>
